/* Reset CSS */
* { margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

/* Estilos Desktop */

body {
    font-family: 'Poppins', sans-serif;
    background-color:#0E1014;
    color: #FFFFFF;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-family: 'Unbounded', sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
}

h1 span {
    color: #9747FF;
}

p {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    text-align: center;
    margin:24px auto 0;
    width: 792px;
}

a {
    display: block;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    width: 340px;
    height:66px;
    text-decoration: none;
    background-color: #9747FF;
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 36px;
    margin: 40px auto;
}
a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    margin: 0 auto;
    width: 792px;
    height: 446px;
}

@media (max-width: 768px) {
    /* Estilos Tablet */
    
    header img {
        margin: 65px 0 0 60px;
        width: 200px;
        height: auto;
    }
    
    h1 {
        margin: 40px 20px 0;
    }
    
    p {
        width: 648px;
    }
    
    a {
        width: 260px;
        height: 50px;
        font-size: 18px;
        padding: 0.75rem 1.5rem;
        margin: 30px auto;
    }
    
}

@media(max-width: 375px) {
    /* Estilos Mobile */
    
    header img {
        margin: 32px 0 0 16px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    p {
        font-size: 20px;
        width: 340px;
    }
    a {
        font-size: 20px;
        width: 251px;
        
    }
    section img {
        width: 340px;
        height: 230px;
    }
}
